<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emrek.kbbmenuselect">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE " />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KbbMenuSelectNoActionBar">
        <activity
            android:name=".activitys.SearchActivity"
            android:exported="true" />
        <activity android:name=".activitys.CommentActivity" />
        <activity android:name=".activitys.MyCreditCardActivity" />
        <activity android:name=".activitys.StoryActivity" />
        <activity android:name=".activitys.OrderActivity" />
        <activity android:name=".activitys.LoginActivity" />
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>